{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
   {% block title %} <title>Designs</title>{% endblock title %}
</head>
<body>
    {% block content %}
<h1>Designs</h1>
<table border="1">
<tr>
    <th>ID</th>
    <th>Order</th>
    <th>Status</th>
    <th>File</th>
</tr>
{% for design in designs %}
<tr>
    <td>{{ design.id }}</td>
    <td>{{ design.order.id }}</td>
    <td>{{ design.status }}</td>
    <td>{{ design.file }}</td>
</tr>
{% empty %}
<tr><td colspan="4">No designs found</td></tr>
{% endfor %}
</table>
{% endblock content %}
</body>
</html>
