{% extends "base.html" %}
{% load static %}
{% block content %}    
<div class="">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="font-bold text-black">Product</legend>
        {{ form.as_p }}
        <button type="submit">Submit</button>
        </fieldset>
    </form>
    <br>
    <a href="">Back to Category List</a>
   <h2 class="text-green-500 font-bold mt-5">Category</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 rounded-md py-2 px-4 hover:bg-blue-600 font-semibold mt-2">Save Product</button>
    </form>

{% endblock %}
</div>





