<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintFlow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">
    <header>
    {% include 'navbar.html' %}
  </header>
  
     <!-- Main Content Area -->
    <main class="flex-grow">
    {% block content %}
    {% endblock content%}
    {% block scripts %}
    {% endblock scripts %}
    </main>
{% if user.role != "admin" %}
<footer>
{% include 'footer.html' %}
{% else %}

{% endif %}
</footer>
</body>
</html>

