<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintFlow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col bg-white">
    {% include 'navbar.html' %}
    <div class="flex flex-1">
        <!-- Sidebar -->
        <aside class="text-white">
            {% include 'sidebar.html' %}
        </aside>

        <!-- Main Content -->
        <main class="flex-1 p-6 bg-gray-100">
            {% block content %}
            {% endblock content %}
            {% block scripts %}
            {% endblock scripts %}
        </main>

    </div>

    <!-- Footer -->
    {% if user.role != "admin" %}
    <footer class="">
        {% include 'footer.html' %}
    </footer>
    {% endif %}

</body>

</html>

