<nav class="p-1 bg-[#323232] rounded-lg m-2 flex justify-center">
  <div class="container mx-auto flex items-center justify-between">
   {% if user.role != 'client' and user.role != 'admin' and user.role != 'designer' %}
    
    {% else %}
        <div class="mb-8">
            <a href="/">
                <span class="text-3xl font-bold text-cyan-500 ">PrintFlow</span>
            </a>
        </div>
        {% endif %}
    <div class="hidden md:flex space-x-4">
            {% if user.is_authenticated %}
                <a href="/auth/view/profile/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Profile</a>
            {% else %}

                {% endif %}             
    </div>
  </div>
</nav>