<!-- Sidebar -->
 {% load static %}
<nav class="bg-[#323232] backdrop-blur-md shadow-md flex flex-col sticky left-0 h-[100%] z-50 w-[250px] text-white p-10 mt-10 rounded-xl ">
    <div class="flex flex-col h-full">
        <div class="flex flex-col space-y-3 flex-grow">
                {% if user.role == "admin" %}
                    <a href="{% url 'admin_summary_template' %}" class="{% if request.resolver_match.url_name == 'admin_summary_template' %}text-blue-600 bg-gray-800 {%else%} text-cyan-500 {% endif %} hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Dashboard</a>
                    <a href="{% url 'user_list_template' %}" class="{% if request.resolver_match.url_name == 'user_list_template' %}text-blue-600 bg-gray-800 {%else%} text-cyan-500 {% endif %} hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Users</a>
                    <a href="/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Products</a>
                    <a href="/api/view/orders/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Orders</a>
                    <a href="/api/view/design-requests/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Design Requests</a>
                    <a href="/api/view/deliveries/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Deliveries</a>
                    <a href="/api/view/payments/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Payments</a>
                {% endif %}

                {% if user.role == "designer" %}
                    <a href="/api/view/designs/" class="text-white hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">My Designs</a>
                {% endif %}

                {% if user.role == "client" %}
                    <a href="/api/view/orders/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">My Orders</a>
                    <a href="/api/view/create" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Create Order</a>
                    <a href="/api/view/payments/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Payments</a>
                    <a href="" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Cart</a>
                {% endif %}

                <a href="/api/view/notifications/" class="text-cyan-500 hover:text-blue-600 p-2 rounded-md text-sm font-medium hover:bg-gray-700">Notifications</a>
                </div>
                <div class="mt-auto pb-40"> 
                    <a href="/auth/logout/" class="shadow-[0_0_5px_cyan,0_0_25px_cyan] 
                    hover:shadow-[0_0_5px_cyan,0_0_25px_cyan,0_0_50px_cyan,0_0_100px_cyan,0_0_200px_cyan]
                    transition-all duration-300 ease-in-out
                    px-6 py-3 bg-gray-800 text-white font-semibold rounded-lg
                    ">Logout</a>
                </div>
            
       
    </div>
</nav>

